<ion-view>
  <ion-header-bar ng-class="'bar-' + color_data.color">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-arrow-back" ui-sref="main" menu-close> Назад</button>
    </div>
    <h1 class="title">Авторизация</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Name" ng-model="user.name">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <button class="button bord_rad_btn button-full button-balanced" ui-sref="mainAuth" ng-click="login()">
      Войти
    </button>
    <button class="button button-positive button-clear button-full" ui-sref="register">Зарегистрироваться</button>
  </ion-content>
</ion-view>
